:root{
    --colorPrimario: #597e8d;
    --colorSecundario: #7f5345;
    --blanco: #ffff;
    --negro: #000;
}

/* Globales */

html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1 rem = 10px*/
    margin: 1rem;
    border: 0.1rem solid ;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Titulo */
.titulo{
    text-align: center;
}
.titulo span{
    font-size: 2rem;
}